/**  BASE STYLES  **/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/**  FIRST SECTION STYLES  **/

.first-section {
  background: #455A64;
  float: left;
  height: 1000px;
  padding: 1% 5%;
  width: 50%;
}

p {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-size: 60px;
  margin-top: 30%;
  text-align: center;
  word-spacing: 20px;
}

img {
  max-width: 85px;
}

.logo {
  padding: 0 15px;
}

.text-area {
  margin: auto;
  max-width: 600px;
}

input {
  border: 2px solid #CED2D2;
  /*color: #CED2D2;*/
  display: block;
  font-size: 30px;
  margin-bottom: 10%;
  padding: 5px;
  width: 100%;
}

#enter-btn, .clear-all-read {
  background-color: #ffc107;
  border: 1px solid #ffc107;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 10%;
  padding: 5px;
  width: 100%;
}

#enter-btn:hover, .clear-all-read:hover {
  background-color: #ffd773;
}

#enter-btn:disabled {
  background-color: #cfd8dc;
  border: 1px solid #cfd8dc;
}


/**  SECOND SECTION STYLES  **/

.second-section {
  background: #cfd8dc;
  float: left;
  height: 1000px;
  overflow: scroll;
  width: 50%;
}

article {
  background: #ffffff;
  border: 2px solid #607d8b;
  margin: 4%;
  padding: 15px;
}

h2 {
  color: #455a64;
  font-size: 30px;
  font-weight: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

hr {
  border-top: 1px solid #cfd8dc;
  margin: 20px auto;
}

a {
  border-bottom: 1px solid #f2f4f4;
  color: #607d8b;
  display: inline-block;
  font-size: 25px;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}

a:hover {
  border-bottom: 1px solid #ffc107;
  color: #455a64;
  font-weight: 800;
  text-decoration: none;
}

.delete-btn {
  float: right;
}

button {
  background: transparent;
  border: none;
  border-bottom: 1px solid #f2f4f4;
  color: #455a64;
}

button:hover {
  border-bottom: 1px solid #ffc107;
  font-weight: 800;
}

.read-btn.read {
  color: #f05a28;
}

a.read {
  border-bottom: 1px solid #cfd8dc;
  font-weight: 400;
  text-decoration: none;
}

article.read {
  background-color: #f2f4f4;
}

/**  RESPONSIVE STYLES  **/

/**  SMALL DEVICES  **/
@media screen and (max-width: 1100px) {
  p {
    font-size: 15px;
  }

  h1 {
    font-size: 50px;
  }

  img {
    max-width: 70px;
  }

  input, h2, #enter-btn, .clear-all-read {
    font-size: 25px;
  }

  a {
    font-size: 20px;
  }
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 35px;
  }

  img {
    max-width: 50px;
  }

  input, h2 {
    font-size: 20px;
  }

  button, a {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  img {
    max-width: 45px;
  }

  input {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .first-section {
    float: none;
    height: 50%;
    padding: 5%;
    width: 100%;
  }

  /*.count-info {
    position: absolute;
    top: 70%;
    left: 35%;
  }*/

  .text-area {
    max-width: 450px;
  }

  h1 {
    font-size: 35px;
    margin: 5% auto;
    text-align: center;
  }

  img {
    max-width: 45px;
  }

  .logo {
    padding: 0 5px;
  }

  input {
    /*border: 1px solid #CED2D2;*/
    font-size: 25px;
    margin: 5% auto;
  }

  #enter-btn {
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 20px;
  }

  .clear-all-read {
    font-size: 20px;
  }

  .second-section {
    float: none;
    width: auto;
  }

  article {
    margin: 20px;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 20px;
  }

  img {
    max-width: 30px;
  }
}
